body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}


/* =================== header =============== */

.header-container {
    display: flex;
    align-items: center;
}

.page-header {
    background: #fff;
    flex-shrink: 0;
    justify-content: center;
    border-bottom: 1px solid #e7e9fc;

}

.navigation {
    display: flex;
    align-items: center;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}

.part-logo {
        color: #2e2f42;
}


.nav-list {
    display: flex;
    list-style-type: none;
    gap: 40px;
    
}

.head-nav {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        padding: 24px 0;
        display: block;
}

.head-nav:hover, .head-nav:focus {
color: #404bbf;
}

.list {
    font-style: normal;
    color: #2e2f42;
    margin-left: auto;
}

.address-list {
display: flex;
gap: 40px;

}

.link-address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
color: #434455;
}

.link-address:hover, .link-address:focus {
text-decoration: underline;
    color: #404bbf;
}

/* =============== Hero Section-1 =========== */

.hero {
    background: #2e2f42;
    text-align: center;
}

.hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        max-width: 496px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        padding-top: 175px;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
        cursor: pointer;
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        letter-spacing: 0.04em;
        display: block;
        margin: 0 auto;
        padding: 16px 32px;
        min-width: 169px;
        border-radius: 4px;
}

.btn-container {
    display: flex;
    align-items: center;
padding-bottom: 185px;
}

.hero-btn:hover, .hero-btn:focus {
background-color: #404BBF;
}


/* Section-2 */

.features-list {
    display: flex;
    gap: 24px;
    margin: 0;
}

.features-blok {
    width: calc((100% - 72px) / 4);
    padding-bottom: 114px;
    padding-top: 136px;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

/* ============== section 3 OUR TEAM ============== */

.ourteam-section {
    background: #f4f4fd;
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.ourteam-list {
background: #fff;
text-align: center;
}

.ourteam-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.ourteam-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}


/* section portfolio */


.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.portfolio-blok {
background: #FFFFFF;
}

.portfolio-blok-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
}

.portfolio-blok-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
text-align: left;
}

/* Footer */

.footer-section {
background: #2e2f42;
}

.logo-footer {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part-footer {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}